Codigo/ProyectoSAF/web/WEB-INF/wsdl/dev.dusa.com.uy_80/dusa-online-ws-2.2-SNAPSHOT/ws_consulta_stock.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xs:schema xmlns:tns="http://ws.dusa.com.uy/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.dusa.com.uy/">

<xs:element name="getLaboratorio" type="tns:getLaboratorio"/>

<xs:element name="getLaboratorioResponse" type="tns:getLaboratorioResponse"/>

<xs:element name="getLaboratorios" type="tns:getLaboratorios"/>

<xs:element name="getLaboratoriosResponse" type="tns:getLaboratoriosResponse"/>

<xs:element name="getOfertas" type="tns:getOfertas"/>

<xs:element name="getOfertasResponse" type="tns:getOfertasResponse"/>

<xs:element name="getPreciosRecetas" type="tns:getPreciosRecetas"/>

<xs:element name="getPreciosRecetasResponse" type="tns:getPreciosRecetasResponse"/>

<xs:element name="getStock" type="tns:getStock"/>

<xs:element name="getStockResponse" type="tns:getStockResponse"/>

<xs:element name="getStockUpdates" type="tns:getStockUpdates"/>

<xs:element name="getStockUpdatesResponse" type="tns:getStockUpdatesResponse"/>

<xs:element name="getTiposIVA" type="tns:getTiposIVA"/>

<xs:element name="getTiposIVAResponse" type="tns:getTiposIVAResponse"/>

<xs:complexType name="getTiposIVA">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTiposIVAResponse">
<xs:sequence>
<xs:element name="return" type="tns:resultGetTiposIVA" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="resultGetTiposIVA" final="extension restriction">
<xs:sequence>
<xs:element name="ivas" type="tns:dataIVA" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="mensaje" type="tns:mensajeError" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataIVA" final="extension restriction">
<xs:sequence>
<xs:element name="tipoIVA" type="xs:unsignedShort"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="tipoTasa" type="xs:unsignedShort"/>
<xs:element name="indicadorFacturacion" type="xs:int"/>
<xs:element name="valorIVA" type="xs:decimal" minOccurs="0"/>
<xs:element name="valorTributo" type="xs:decimal" minOccurs="0"/>
<xs:element name="resguardoIVA" type="xs:decimal" minOccurs="0"/>
<xs:element name="resguardoIRAE" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mensajeError" final="extension restriction">
<xs:sequence>
<xs:element name="codigo" type="xs:int"/>
<xs:element name="mensaje" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLaboratorio">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="idLaboratorio" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLaboratorioResponse">
<xs:sequence>
<xs:element name="return" type="tns:resultGetLaboratorio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="resultGetLaboratorio" final="extension restriction">
<xs:sequence>
<xs:element name="laboratorio" type="tns:dataLaboratorio" minOccurs="0"/>
<xs:element name="mensaje" type="tns:mensajeError" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataLaboratorio" final="extension restriction">
<xs:sequence>
<xs:element name="idLaboratorio" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="ruc" type="xs:string" minOccurs="0"/>
<xs:element name="razonSocial" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="codigoPostal" type="xs:string" minOccurs="0"/>
<xs:element name="localidad" type="xs:string" minOccurs="0"/>
<xs:element name="departamento" type="xs:string" minOccurs="0"/>
<xs:element name="aceptaRecetas" type="xs:boolean"/>
<xs:element name="telefonos" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="lineas" type="tns:dataLineaLaboratorio" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataLineaLaboratorio" final="extension restriction">
<xs:sequence>
<xs:element name="idLaboratorio" type="xs:string" minOccurs="0"/>
<xs:element name="idLinea" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPreciosRecetas">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPreciosRecetasResponse">
<xs:sequence>
<xs:element name="return" type="tns:resultGetPreciosRecetas" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="resultGetPreciosRecetas" final="extension restriction">
<xs:sequence>
<xs:element name="preciosRecetas" type="tns:dataPrecioReceta" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="mensaje" type="tns:mensajeError" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataPrecioReceta" final="extension restriction">
<xs:sequence>
<xs:element name="numeroArticulo" type="xs:int"/>
<xs:element name="precioReceta" type="xs:decimal" minOccurs="0"/>
<xs:element name="descuentoReceta" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOfertas">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOfertasResponse">
<xs:sequence>
<xs:element name="return" type="tns:resultGetOfertas" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="resultGetOfertas" final="extension restriction">
<xs:sequence>
<xs:element name="ofertas" type="tns:dataOferta" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="mensaje" type="tns:mensajeError" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataOferta" final="extension restriction">
<xs:sequence>
<xs:element name="numeroArticulo" type="xs:int"/>
<xs:element name="cantidadVenta" type="xs:int"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="cantidadBonificado" type="xs:int"/>
<xs:element name="porcentajeBonificado" type="xs:decimal" minOccurs="0"/>
<xs:element name="fechaFin" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStockUpdates">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="desde" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStockUpdatesResponse">
<xs:sequence>
<xs:element name="return" type="tns:resultGetStockUpdates" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="resultGetStockUpdates" final="extension restriction">
<xs:sequence>
<xs:element name="productos" type="tns:dataInfoProducto" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="mensaje" type="tns:mensajeError" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataInfoProducto" final="extension restriction">
<xs:sequence>
<xs:element name="numeroArticulo" type="xs:int"/>
<xs:element name="idLaboratorio" type="xs:string" minOccurs="0"/>
<xs:element name="idLineaLaboratorio" type="xs:string" minOccurs="0"/>
<xs:element name="clave1" type="xs:string" minOccurs="0"/>
<xs:element name="clave2" type="xs:string" minOccurs="0"/>
<xs:element name="clave3" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="tipoIVA" type="xs:string" minOccurs="0"/>
<xs:element name="precioVenta" type="xs:decimal" minOccurs="0"/>
<xs:element name="precioOferta" type="xs:decimal" minOccurs="0"/>
<xs:element name="precioPublico" type="xs:decimal" minOccurs="0"/>
<xs:element name="habilitado" type="xs:unsignedShort"/>
<xs:element name="porcentajeDescuentoOferta" type="xs:decimal" minOccurs="0"/>
<xs:element name="hasCodigoBarra" type="xs:boolean"/>
<xs:element name="codigoBarra" type="xs:string" minOccurs="0"/>
<xs:element name="codigoLaboratorio" type="xs:string" minOccurs="0"/>
<xs:element name="fechaUlitmoPrecio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaUltimaActualizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="ofertas" type="tns:dataOferta" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="precioReceta" type="tns:dataPrecioReceta" minOccurs="0"/>
<xs:element name="idProductoNoritel" type="xs:int"/>
<xs:element name="idPresentacionNoritel" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLaboratorios">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLaboratoriosResponse">
<xs:sequence>
<xs:element name="return" type="tns:resultGetLaboratorios" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="resultGetLaboratorios" final="extension restriction">
<xs:sequence>
<xs:element name="laboratorios" type="tns:dataLaboratorio" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="mensaje" type="tns:mensajeError" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStock">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="nroArticulo" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStockResponse">
<xs:sequence>
<xs:element name="return" type="tns:resultGetStock" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="resultGetStock" final="extension restriction">
<xs:sequence>
<xs:element name="producto" type="tns:dataInfoProducto" minOccurs="0"/>
<xs:element name="mensaje" type="tns:mensajeError" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>