Prototipos/PrototipoWebServices/web/WEB-INF/wsdl/dev.dusa.com.uy/ws_consulta_stock.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.dusa.com.uy/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.dusa.com.uy/" name="WSConsultaStockService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.dusa.com.uy/" schemaLocation="http://dev.dusa.com.uy:80/dusa-online-ws-2.2-SNAPSHOT/ws_consulta_stock?xsd=1"/>
</xsd:schema>
</types>
<message name="getLaboratorio">
<part name="parameters" element="tns:getLaboratorio"/>
</message>
<message name="getLaboratorioResponse">
<part name="parameters" element="tns:getLaboratorioResponse"/>
</message>
<message name="getOfertas">
<part name="parameters" element="tns:getOfertas"/>
</message>
<message name="getOfertasResponse">
<part name="parameters" element="tns:getOfertasResponse"/>
</message>
<message name="getLaboratorios">
<part name="parameters" element="tns:getLaboratorios"/>
</message>
<message name="getLaboratoriosResponse">
<part name="parameters" element="tns:getLaboratoriosResponse"/>
</message>
<message name="getStock">
<part name="parameters" element="tns:getStock"/>
</message>
<message name="getStockResponse">
<part name="parameters" element="tns:getStockResponse"/>
</message>
<message name="getStockUpdates">
<part name="parameters" element="tns:getStockUpdates"/>
</message>
<message name="getStockUpdatesResponse">
<part name="parameters" element="tns:getStockUpdatesResponse"/>
</message>
<message name="getPreciosRecetas">
<part name="parameters" element="tns:getPreciosRecetas"/>
</message>
<message name="getPreciosRecetasResponse">
<part name="parameters" element="tns:getPreciosRecetasResponse"/>
</message>
<message name="getTiposIVA">
<part name="parameters" element="tns:getTiposIVA"/>
</message>
<message name="getTiposIVAResponse">
<part name="parameters" element="tns:getTiposIVAResponse"/>
</message>
<portType name="WSConsultaStock">
<operation name="getLaboratorio">
<input wsam:Action="http://ws.dusa.com.uy/WSConsultaStock/getLaboratorioRequest" message="tns:getLaboratorio"/>
<output wsam:Action="http://ws.dusa.com.uy/WSConsultaStock/getLaboratorioResponse" message="tns:getLaboratorioResponse"/>
</operation>
<operation name="getOfertas">
<input wsam:Action="http://ws.dusa.com.uy/WSConsultaStock/getOfertasRequest" message="tns:getOfertas"/>
<output wsam:Action="http://ws.dusa.com.uy/WSConsultaStock/getOfertasResponse" message="tns:getOfertasResponse"/>
</operation>
<operation name="getLaboratorios">
<input wsam:Action="http://ws.dusa.com.uy/WSConsultaStock/getLaboratoriosRequest" message="tns:getLaboratorios"/>
<output wsam:Action="http://ws.dusa.com.uy/WSConsultaStock/getLaboratoriosResponse" message="tns:getLaboratoriosResponse"/>
</operation>
<operation name="getStock">
<input wsam:Action="http://ws.dusa.com.uy/WSConsultaStock/getStockRequest" message="tns:getStock"/>
<output wsam:Action="http://ws.dusa.com.uy/WSConsultaStock/getStockResponse" message="tns:getStockResponse"/>
</operation>
<operation name="getStockUpdates">
<input wsam:Action="http://ws.dusa.com.uy/WSConsultaStock/getStockUpdatesRequest" message="tns:getStockUpdates"/>
<output wsam:Action="http://ws.dusa.com.uy/WSConsultaStock/getStockUpdatesResponse" message="tns:getStockUpdatesResponse"/>
</operation>
<operation name="getPreciosRecetas">
<input wsam:Action="http://ws.dusa.com.uy/WSConsultaStock/getPreciosRecetasRequest" message="tns:getPreciosRecetas"/>
<output wsam:Action="http://ws.dusa.com.uy/WSConsultaStock/getPreciosRecetasResponse" message="tns:getPreciosRecetasResponse"/>
</operation>
<operation name="getTiposIVA">
<input wsam:Action="http://ws.dusa.com.uy/WSConsultaStock/getTiposIVARequest" message="tns:getTiposIVA"/>
<output wsam:Action="http://ws.dusa.com.uy/WSConsultaStock/getTiposIVAResponse" message="tns:getTiposIVAResponse"/>
</operation>
</portType>
<binding name="WSConsultaStockPortBinding" type="tns:WSConsultaStock">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getLaboratorio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOfertas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLaboratorios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStockUpdates">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPreciosRecetas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTiposIVA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSConsultaStockService">
<port name="WSConsultaStockPort" binding="tns:WSConsultaStockPortBinding">
<soap:address location="http://dev.dusa.com.uy:80/dusa-online-ws-2.2-SNAPSHOT/ws_consulta_stock"/>
</port>
</service>
</definitions>